log/*.log
log/locomotive.pid
db/*.db
tmp
pkg
.DS_Store
db/schema.rb
db/photos/**/*.jpg
setup-authorized-ip
setup-secret
config/database.yml.backup
db/*.backup.*
Scheduler.pid
config/deploy.rb
config/database.yml
config/locomotive.yml
vendor/rails